#sketchpad {
    background: white;
}

body {
    background: rgb(26, 26, 26);
}

.controls {
    position: absolute;
    padding: 10px;
    display: flex;
    flex-direction: column;
    border-right: 2px solid rgb(26, 26, 26);
    border-bottom: 2px solid rgb(26, 26, 26);
    border-radius: 0 0 5px 0;
}

.clear, .color, .size {
    margin: 10px 0;
}